* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f6f8fc
}
.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-image:url(../356e5958b76d454192b63bffbd518978.jpg);
    background-repeat: repeat-x;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

