
#tit{
    display: flex;
    align-items: center;
    justify-content: center;
}

#tit img {
    border-style: none;
    height: 3rem;
}

.pokemons {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 1rem;
}
   
    .normal {background-color:  #a6a877 }
    .grass  {background-color:  #77c850 }
    .fire   {background-color:  #ee7f30 }
    .water  {background-color:  #678fee }
    .electric    {background-color:  #f7cf2e }
    .ice    {background-color:  #98d5d7 }
    .ground {background-color:  #dfbf69 }
    .flying {background-color:  #a98ff0 }
    .poison {background-color:  #a040a0 }
    .fighting   {background-color:  #bf3029 }
    .psychic    {background-color:  #f65687 }
    .dark   {background-color:  #725847 }
    .rock   {background-color:  #b8a137 }
    .bug    {background-color:  #a8b720 }
    .ghost  {background-color:  #6e5896 }
    .steel  {background-color:  #b9b7cf }
    .dragon {background-color:  #6f38f6 }
.fairy {background-color:  #f9aec7}






#pokebola {
    color: black;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border-radius: 100%;
    background-image: linear-gradient(to bottom, red 50%, white 50%);
    height: 3rem;
    position: absolute;
    right: 2%;
    top: 2%;
    font-weight: bolder;
    filter: drop-shadow(1px 4px 5px black);
    /* text-decoration: underline; */
    text-shadow: 0 0 black;
}


#numero{
    background-color: rgb(245, 244, 244);
    border: 1px outset black;
    border-radius: inherit;
    width: 2rem;
    height: 2rem;
    padding: 6px 1px;
    text-align: center;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1.3rem 1rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 0.5px 1px 5px black;
    position: relative;
    height: 180px;
}


.abilities {
    display: none;
    position: relative;
    flex-direction: column;
}

.pokemon:hover{
    
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 0 10px 0;

    #photo{
        filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
        height: 90px;
        transition: 0.3s;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #pokebola{
        width: 2rem;
        height: 2rem;
        transition: 0.3s;
    }

    .abilities {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;

    }



    .types, .name {
        display: none;
    }

}
.pokemon .type {
    color: white;
    margin: 0.50rem;
    
}

.pokemon .name { 
    color: white;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
    border: 1px solid white;
    width: fit-content;
    padding: 0.3rem;
    border-radius: inherit;
}


.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.pokemon .detail .types, .abilities{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.pokemon .detail .types .type, .ability{
    text-transform: capitalize;
    color: white;
    padding: 0.25rem 1rem;
    margin: 0.25rem 0.5rem 0 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    border: 1px solid #474747bf;
    text-align: center;
}





.pokemon .detail img{
    max-width: 100%;
    height: 70px;
}

#pagnation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#pagnation button {
    padding: 0.3rem 2rem;
    margin: .3rem 0;
    background-color: #5a49f1;
    border: none;
    border-radius: 1rem;
    color: white;
}

#pagnation button:hover {
    background-color: #77c850;
    color: #a040a0;
}


    @media screen and (min-width: 380px) {
        .pokemons {
            grid-template-columns: 1fr 1fr;
            margin: 0;
        }
    }
    
    @media screen and (min-width: 576px) {
        .pokemons {
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0;
        }

        .content {
            height: 100%;
        }
    }
    
    @media screen and (min-width: 992px) {
        .pokemons {
            max-width: 992px;
            grid-template-columns: 1fr 1fr 1fr 1fr;  
            margin: 0; 
        }
    }